<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is SAO Board 2" data-moreinfo="Blah blah"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="aww" data-view="RandomAww"></div>
    </li>
  </ul>
  <center>For any issues in the display contact Adam McMurchie - adam.mcmurchie@rbs.co.uk</center>
</div>
