<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="jenkinsBuildStatus" data-view="JenkinsBuildStatus" data-title="Jenkins"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="response_time_1" data-view="Alert" data-addclass-danger="isTooHigh" data-title="Response Time App1" data-threshold=200></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="response_time_2" data-view="Alert" data-addclass-danger="isTooHigh" data-title="Response Time App2" data-threshold=300></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="myFilter" data-view="jira" data-title="JIRA Total issue Count"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="myFilter2" data-view="Number" data-title="JIRA Completed"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="myFilter3" data-view="jira2" data-title="JIRA Outstanding"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-view="Countdown" data-title="Sprint Completion" data-end="07-Nov-2017 18:00:00"></div>
    </li>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="yahoo_stock_quote_list" data-view="List" data-title="Stock Price" style="background-color:#3346FF;"></div>
      <i class="fa fa-gbp icon-background"></i>
    </li>
    
  </ul>
</div>
